body{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-image: url('../assets/背景2.gif');
}
div-main {
    width: 100%;
    margin: 0;
    padding: 0;
}


btn {
    width: 5px;
}

.search-lable {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 14px;
}

.search-input {
    width: 160px;
}

.edit-from {
    width: 220px
}
.edit-from-select{
    width: 230px;
}
.view-from{
    width: 220px;
}
.search_select {
    width: 150px;
}


.time_show {
    margin-left: 5px;
}